<div class="container">
  <div class="koko flex-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div class="content">
    <h3 class="title">Про меня</h3>
    <p class="blabla">Высокомотивированный и амбициозный студент с талантом для создания элегантных решений в наименьшее количество времени, который готов использовать свои навыки программирования, для повышения эффективности ваших сайтов. Имея опыт в графическом дизайне, я могу предложить вам креативный, оригинальный и стильный веб-дизайн. Благодаря полученным знаниям во фронтенд разработке на Angular, а также имея отличные знания HTML/CSS/JS, я могу предложить вам оригенальную и тщательную верстку.</p>
    <br><button mat-button routerLink="/contact">Отправить письмо</button>
  </div>
  <div><img src="assets/img/828-01.png" ></div>
</div>
</div>
