<div class="container">
  <div class="content">
    <h3 class="title">Projects</h3>
  <mat-tab-group>
    <mat-tab label="All">
      <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile><img src="assets/img/1%20(1).jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/1%20(2).jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/1%20(3).jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/1%20(4).jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/1%20(5).jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/1%20(6).jpg" width="100%" alt=""></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Websites">
      <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile><img src="assets/img/Снимок.JPG" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Снимок1.JPG" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Снимок5.JPG" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Рисунок1.jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Рисунок3.jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Рисунок2.jpg" width="100%" alt=""></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Design">
      <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile><img src="assets/img/photo_2018-12-08_21-30-14.jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/4-04.png" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/7-04.png" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Untitled-2-01.jpg" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/3-03.png" width="100%" alt=""></mat-grid-tile>
        <mat-grid-tile><img src="assets/img/Рисунок2.jpg" width="100%" alt=""></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
