<div class="container">
  <div class="content">
    <div class="skills1 flex-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div class="skill1">
      <h3 class="title" style="width: 200px">ЯЗЫКИ</h3>
      <div class="names">
    <p>Казахский</p>
    <p>Русский</p>
    <p>Английский</p>
      </div>
      <img src="assets/img/lang-01.png" class="skills1">
    </div>
    <div class="skill2">
      <h3 class="title">HARD SKILLS</h3>
      <img src="assets/img/ski3-01.png">
    </div>
    </div>
    <div class="skills2 flex-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div class="skill3">
      <h3 class="title" style="width: 200px">SOFT SKILLS</h3>
      <div class="names">
        <p>Усидчивость</p>
        <p>Любознательность</p>
        <p>Работа в команде</p>
        <p>Стрессоустойчивость</p>
        <p>Креативность</p>
      </div>
      <img src="assets/img/ski1-01.png">
    </div>

    <div class="skill4">
      <h3 class="title" style="width: 200px">HARD SKILLS</h3>
      <div class="names">
        <p>Java OOP</p>
        <p>Spring Boot</p>
        <p>Angular</p>
        <p>Php Laravel</p>
        <p>Postgresql</p>
      </div>
      <img src="assets/img/ski2-01.png">
    </div></div>
  </div>
</div>
