<div class="container">
  <div class="content">
    <h3 class="title">МОИ СЕРВИСЫ</h3><br>
    <div class="serv flex-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div class="serv1 cl1" fxFlex="1 1 auto">
      <img src="assets/img/ram_Монтажная%20область%201.png" class="inner_img1">
        <img src="assets/img/serv1-01.png" width="80px" class="out_img1">
        <p class="serv_title" style="padding-left: 40px">UX/UI дизайн</p>
        <p >Имея опыт в графическом дизайне, я могу предложить вам креативный, оригинальный и стильный веб-дизайн.</p>
        <button mat-button routerLink="/contact" style="margin-top: 93px">Отправить письмо</button>
      </div>
      <div class="serv1 cl2" fxFlex="1 1 auto">
        <img src="assets/img/ram_Монтажная%20область%201.png" class="inner_img1">
        <img src="assets/img/serv2-01.png" width="80px" class="out_img1">
        <p class="serv_title" style="padding-left: 2np0px">Бэкенд разработка</p>
        <p>Благодаря полученным зна-
          ниям разработки на фрейм-
          ворке Spring, а также имея от-
          личные знания работы с нере-
          лиоционной базой данных, я могу предложить вам грамот-
          ный функционал для сайта.</p>
        <button mat-button routerLink="/contact" style="margin-top: 52px">Отправить письмо</button>
      </div>
      <div class="serv1 cl3" fxFlex="1 1 auto">
        <img src="assets/img/ram_Монтажная%20область%201.png" class="inner_img1">
        <img src="assets/img/serv3-01.png" width="80px" class="out_img1">
        <p class="serv_title">Фронтенд разработка</p>
        <p>Благодаря полученным знаниям во фронтенд разработке на Angular, а также имея отличные знания HTML/CSS/JS, я могу предложить вам оригенальную и тщательную верстку.</p>
        <button mat-button routerLink="/contact">Отправить письмо</button>
      </div>
    </div>
  </div>
</div>
