<div class="container">
    <div class="content">
   <h3 class="title">Омарова Корлан</h3>
    <p class="name">Будущий фулл-стек разработчик</p>
    <p class="blabla">Высокомотивированный и амбициозный студент с талантом для создания элегантных решений в наименьшее количество времени, который готов использовать свои навыки программирования, для повышения эффективности ваших сайтов.</p>
    <br>
    <button mat-button routerLink="/about">Про меня</button>
    <div class="icons">
    <img src="assets/img/phone-01.png">
    <img src="assets/img/mail-01.png">
    <img src="assets/img/vk-01.png">
    <img src="assets/img/insta.png">
    </div>
  </div>
  </div>
